*.jou
sdaccel_profile_summary.html
sdaccel_profile_summary.csv
_xocc_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp

Emulation-CPU/
Emulation-HW/
System/
.project
.cproject

csim/
impl/
sim/
syn/
vivado_hls.app
solution1.aps
.autopilot/
.settings/
.reference/
.apc/
.vivado_hls_log_all.xml

SDx_BWA_SW/_x.hw.xilinx_u280_xdma_201910_1/
SDx_BWA_SW/_x.hw_emu.xilinx_u280_xdma_201910_1/
SDx_BWA_SW/_x.sw_emu.xilinx_u280_xdma_201910_1/
SDx_BWA_SW/host
SDx_BWA_SW/libs/
SDx_BWA_SW/profile_summary.csv
SDx_BWA_SW/profile_summary.html
SDx_BWA_SW/xclbin.run_summary
SDx_BWA_SW/xrt.ini
SDx_BWA_SW/.run/
sdx_pid8790.str
