*.jou
sdaccel_profile_summary.html
sdaccel_profile_summary.csv
_xocc_*/
.Xil/
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
#VHLS_BWA_SW/solution1/csim/
#VHLS_BWA_SW/solution1/impl/
#VHLS_BWA_SW/solution1/sim/
#VHLS_BWA_SW/solution1/syn/
#VHLS_BWA_SW_test/solution1/csim/
#VHLS_BWA_SW_test/solution1/impl/
#VHLS_BWA_SW_test/solution1/sim/
#VHLS_BWA_SW_test/solution1/syn/

